## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = '../data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ../data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [16]:
t = app_train.shape
print('row:',t[0])
print('column:',t[1])

row: 307511
column: 122

#### 列出所有欄位

In [43]:
app_train.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

#### 截取部分資料
##### 1.前十筆資料

In [23]:
app_train.head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

##### 2.前十欄的資料

In [24]:
app_train.T.head(10)

,0,1,2,3,4,5,6,7,8,9,...,307501,307502,307503,307504,307505,307506,307507,307508,307509,307510
SK_ID_CURR,100002,100003,100004,100006,100007,100008,100009,100010,100011,100012,...,456245,456246,456247,456248,456249,456251,456252,456253,456254,456255
TARGET,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
NAME_CONTRACT_TYPE,Cash loans,Cash loans,Revolving loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Revolving loans,...,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans
CODE_GENDER,M,F,M,F,M,M,F,M,F,M,...,F,F,F,F,F,M,F,F,F,F
FLAG_OWN_CAR,N,N,Y,N,N,N,Y,Y,N,N,...,N,N,N,N,N,N,N,N,N,N
FLAG_OWN_REALTY,Y,N,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,Y,Y,Y,Y,N,Y,Y,Y,N
CNT_CHILDREN,0,0,0,0,0,0,1,0,0,0,...,3,1,0,0,0,0,0,0,0,0
AMT_INCOME_TOTAL,202500,270000,67500,135000,121500,99000,171000,360000,112500,135000,...,81000,94500,112500,153000,112500,157500,72000,153000,171000,157500
AMT_CREDIT,406598,1.2935e+06,135000,312682,513000,490496,1.56073e+06,1.53e+06,1.01961e+06,405000,...,269550,225000,345510,331920,225000,254700,269550,677664,370107,675000
AMT_ANNUITY,24700.5,35698.5,6750,29686.5,21865.5,27517.5,41301,42075,33826.5,20250,...,11871,10620,17770.5,16096.5,22050,27558,12001.5,29979,20205,49117.5

##### 2.指定100~150的資料

In [45]:
app_train.iloc[100:151,:]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
100,100119,0,Revolving loans,F,N,Y,0,54000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
101,100120,0,Cash loans,F,N,N,0,135000.0,781920.0,28215.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
102,100121,0,Cash loans,M,N,Y,0,126000.0,787131.0,26145.0,...,0,0,0,0,1.0,1.0,0.0,0.0,0.0,1.0
103,100122,0,Cash loans,F,N,N,1,76500.0,808650.0,26217.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
104,100123,0,Cash loans,F,N,N,0,103500.0,675000.0,19737.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
105,100124,0,Cash loans,M,N,Y,0,225000.0,448272.0,28647.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
106,100125,0,Cash loans,F,N,N,0,126000.0,263686.5,26208.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
107,100126,0,Revolving loans,M,N,Y,2,135000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
108,100127,0,Cash loans,M,N,Y,0,112500.0,52128.0,5341.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
109,100129,0,Revolving loans,F,Y,Y,1,85500.0,135000.0,6750.0,...,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0
110,100130,1,Cash loans,F,N,Y,1,157500.0,723996.0,30802.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
111,100131,0,Cash loans,F,N,Y,0,270000.0,891072.0,45625.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
112,100132,0,Cash loans,F,N,Y,0,202500.0,1136439.0,73611.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
113,100133,0,Cash loans,F,N,N,0,67500.0,384048.0,18810.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
114,100134,0,Revolving loans,F,N,N,0,202500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
115,100135,0,Cash loans,M,N,Y,0,135000.0,391194.0,26271.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
116,100136,0,Cash loans,M,Y,N,1,157500.0,1571931.0,49356.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
117,100137,0,Cash loans,F,Y,Y,0,225000.0,891072.0,45625.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
118,100138,0,Cash loans,M,Y,N,0,135000.0,824823.0,29223.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
119,100139,0,Cash loans,F,N,N,1,157500.0,302341.5,24016.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,3.0
120,100140,0,Revolving loans,F,N,N,0,157500.0,675000.0,33750.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
121,100142,0,Cash loans,M,Y,Y,1,360000.0,579195.0,27994.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
122,100143,0,Revolving loans,M,N,Y,0,162000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
123,100144,0,Cash loans,F,N,N,0,112500.0,535500.0,30028.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
124,100145,0,Cash loans,F,Y,Y,1,202500.0,260725.5,16789.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
125,100146,0,Cash loans,M,Y,Y,0,117000.0,327024.0,12456.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
126,100147,0,Cash loans,F,N,Y,1,135000.0,518562.0,22099.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
127,100148,0,Cash loans,F,N,Y,0,247500.0,755190.0,36459.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
128,100149,0,Cash loans,M,Y,N,0,171000.0,539590.5,26374.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
129,100151,0,Cash loans,M,N,N,0,135000.0,182016.0,11772.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
130,100152,0,Cash loans,F,N,Y,0,157500.0,254412.0,9720.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
131,100153,0,Cash loans,M,Y,Y,0,202500.0,1107981.0,32526.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
132,100154,0,Revolving loans,M,N,N,0,144000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
133,100155,0,Cash loans,M,N,N,0,157500.0,675000.0,21906.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
134,100156,0,Cash loans,F,Y,N,2,157500.0,945000.0,39127.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
135,100157,0,Cash loans,M,N,Y,0,180000.0,1755000.0,61132.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
136,100158,0,Cash loans,M,N,N,0,180000.0,590337.0,27486.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
137,100159,0,Cash loans,F,N,Y,0,225000.0,1515415.5,41800.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
138,100160,1,Cash loans,M,N,Y,0,292500.0,675000.0,36747.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
139,100161,0,Cash loans,F,N,Y,0,90000.0,370629.0,13972.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
140,100162,0,Cash loans,F,N,Y,0,112500.0,547344.0,18216.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
141,100163,0,Cash loans,F,N,Y,0,130500.0,550489.5,19773.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
142,100164,0,Cash loans,F,Y,N,1,450000.0,407434.5,43362.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
143,100165,0,Cash loans,F,Y,Y,0,175500.0,1293502.5,35568.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
144,100166,0,Cash loans,F,N,Y,3,58500.0,152820.0,15241.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
145,100167,0,Cash loans,F,N,Y,0,180000.0,427500.0,46170.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
146,100173,0,Cash loans,F,N,N,0,117000.0,781920.0,26725.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
147,100174,0,Revolving loans,F,N,Y,2,180000.0,225000.0,11250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
148,100175,0,Cash loans,F,N,Y,1,202500.0,1251072.0,45067.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
149,100176,0,Cash loans,F,N,Y,0,135000.0,1078200.0,31653.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
150,100177,0,Cash loans,M,N,N,1,112500.0,312682.5,33309.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

##### 2.指定2~6欄的所有資料

In [46]:
app_train.iloc[:,2:7]

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN
0,Cash loans,M,N,Y,0
1,Cash loans,F,N,N,0
2,Revolving loans,M,Y,Y,0
3,Cash loans,F,N,Y,0
4,Cash loans,M,N,Y,0
5,Cash loans,M,N,Y,0
6,Cash loans,F,Y,Y,1
7,Cash loans,M,Y,Y,0
8,Cash loans,F,N,Y,0
9,Revolving loans,M,N,Y,0
10,Cash loans,F,N,Y,1
11,Cash loans,F,N,Y,0
12,Cash loans,F,N,Y,0
13,Cash loans,M,Y,N,1
14,Cash loans,F,N,Y,0
15,Cash loans,M,Y,Y,0
16,Cash loans,M,N,N,0
17,Revolving loans,F,N,Y,1
18,Revolving loans,F,N,Y,0
19,Cash loans,F,N,Y,1
20,Revolving loans,M,Y,Y,0
21,Cash loans,F,Y,Y,1
22,Cash loans,F,N,N,1
23,Cash loans,F,N,Y,0
24,Cash loans,M,Y,N,2
25,Cash loans,F,N,Y,0
26,Cash loans,F,N,Y,0
27,Cash loans,M,N,Y,1
28,Cash loans,M,Y,Y,0
29,Revolving loans,M,N,Y,0
...,...,...,...,...,...
307481,Cash loans,M,N,Y,0
307482,Cash loans,F,Y,Y,0
307483,Cash loans,F,N,Y,0
307484,Cash loans,F,Y,N,0
307485,Revolving loans,F,N,Y,1
307486,Cash loans,F,Y,Y,1
307487,Cash loans,M,N,Y,0
307488,Cash loans,F,N,N,0
307489,Cash loans,F,N,Y,0
307490,Cash loans,M,N,Y,0
307491,Cash loans,M,Y,Y,2
307492,Cash loans,M,Y,Y,0
307493,Cash loans,F,N,Y,0
307494,Cash loans,M,Y,N,1
307495,Cash loans,M,Y,N,0
307496,Revolving loans,F,N,N,0
307497,Cash loans,F,Y,Y,0
307498,Cash loans,M,Y,Y,0
307499,Cash loans,F,N,Y,0
307500,Cash loans,F,N,Y,0
307501,Cash loans,F,N,Y,3
307502,Cash loans,F,N,Y,1
307503,Cash loans,F,N,Y,0
307504,Cash loans,F,N,Y,0
307505,Cash loans,F,N,Y,0
307506,Cash loans,M,N,N,0
307507,Cash loans,F,N,Y,0
307508,Cash loans,F,N,Y,0
307509,Cash loans,F,N,Y,0
307510,Cash loans,F,N,N,0

##### 2.指定2~6欄的前100筆資料

In [62]:
app_train.iloc[:100,2:7]

   NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN
0          Cash loans           M            N               Y             0
1          Cash loans           F            N               N             0
2     Revolving loans           M            Y               Y             0
3          Cash loans           F            N               Y             0
4          Cash loans           M            N               Y             0
5          Cash loans           M            N               Y             0
6          Cash loans           F            Y               Y             1
7          Cash loans           M            Y               Y             0
8          Cash loans           F            N               Y             0
9     Revolving loans           M            N               Y             0
10         Cash loans           F            N               Y             1
11         Cash loans           F            N               Y             0
12         Cash loans           F            N               Y             0
13         Cash loans           M            Y               N             1
14         Cash loans           F            N               Y             0
15         Cash loans           M            Y               Y             0
16         Cash loans           M            N               N             0
17    Revolving loans           F            N               Y             1
18    Revolving loans           F            N               Y             0
19         Cash loans           F            N               Y             1
20    Revolving loans           M            Y               Y             0
21         Cash loans           F            Y               Y             1
22         Cash loans           F            N               N             1
23         Cash loans           F            N               Y             0
24         Cash loans           M            Y               N             2
25         Cash loans           F            N               Y             0
26         Cash loans           F            N               Y             0
27         Cash loans           M            N               Y             1
28         Cash loans           M            Y               Y             0
29    Revolving loans           M            N               Y             0
..                ...         ...          ...             ...           ...
70         Cash loans           M            N               N             2
71         Cash loans           M            Y               Y             0
72         Cash loans           M            N               Y             2
73         Cash loans           M            N               Y             1
74         Cash loans           F            N               Y             1
75         Cash loans           F            N               Y             1
76    Revolving loans           F            N               N             0
77         Cash loans           M            N               Y             0
78         Cash loans           F            N               Y             1
79         Cash loans           F            N               Y             0
80    Revolving loans           F            N               Y             2
81         Cash loans           F            N               Y             0
82         Cash loans           M            Y               Y             0
83    Revolving loans           M            Y               N             0
84         Cash loans           F            N               Y             0
85         Cash loans           M            Y               Y             2
86         Cash loans           F            Y               Y             0
87         Cash loans           F            N               N             1
88         Cash loans           F            N               Y             0
89         Cash loans           F            N               Y             0
90         Cash loans           F            N               Y             0
91         Cash loans           F            N               Y             3
92         Cash loans           M            Y               Y             3
93         Cash loans           F            Y               N             1
94         Cash loans           M            Y               Y             0
95         Cash loans           M            Y               N             0
96         Cash loans           F            N               Y             0
97         Cash loans           F            N               N             0
98         Cash loans           F            N               Y             0
99         Cash loans           F            N               Y             0

[100 rows x 5 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子